header {
  background: #BBBBBB;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #C78C19;
  text-decoration: underline;
}

.banner {
  width: 100%;
}

.principal {
  /* background: #CCCCCC; */
  padding: 30px;
}

/* .titulo-principal {
  padding-left: 20px;
} */

/* .titulo-centralizado {
  text-align: center;
} */

/* p {
  text-align: center;
}

#missao {
  font-size: 20px;
} */

/* p em strong {
  color: red;
} */

.beneficios {
  background: #ffffff;
  padding: 20px;
}

/* .beneficios ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
} */

/*
  display: block; => ocupa a largura inteira da página.
  display: inline; => não deixa alterar, por exemplo, o espaçamento externo e interno.
  display: inline-block; => tem as caracteristicas do inline e do block, bloqueia uma largura, mas essa largura é fixa e deixa também mexer na largura e nos espaçamentos interno e externo.
*/

/* .itens {
  font-style: italic;
} */

footer {
  text-align: center;
  background: url("../img/bg.jpg");
  padding: 40px 0;
}

.copyright {
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px 0 0;
}

.titulo-principal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
  font-style: italic;
}

.imagem_beneficios {
  width: 60%;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}